{{!-- What a post container will look like --}}
<div class="container border border">
    <div class="row">
        <div class="col-12 text-light">
            This is the main post container
        </div>
    </div>
</div>